<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div>
       <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
</div>
<div>
	<form method="post">
		<input type="text" name="text" placeholder="Введите сообщение"> 
		<input type="text" name="tag" placeholder="Тэг"> 
		<input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
		<input type="submit" name="Добавить"> 
	</form>
</div>
<div>Список</div>
	<form method="post" action="filter">
		<input type="text" name="filter" > 
		<input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
		<input type="submit" name="Найти"> 
	</form>
{{#messages}}
	<div>
		<b>{{id}}</b>
		<span>{{text}}</span>
		<i>{{tag}}</i>
{{/messages}}
</div>
</body>
</html>